<%- include('partials/head') %>

<%- include('partials/header') %>

<body>
  
  <div class="contenedorRegistro">
<form action="/users/processLogin" method="post">
        <section>
          <label for="">Email: </label>
          <input type="email" name="email" placeholder="email">
        </section>
        <section>
          <label for="">Password:</label>
          <input type="password" name="contrasena" placeholder="password">
        </section>
        <button type="submit">Ingresar</button>
        <section>
          <input type="checkbox" id="recordame" name="recordame">
          <label for="tyc">Recordame</label>
        </section>
      </form>
  </div>
</body>

<%- include('partials/footer') %>
