<%- include('partials/head') %>
<%- include('partials/header') %>
<form action="/productos/agregar" method="get">
  <label>Imagen del producto:</label>
  <input type="file" name="imagen">

  <label>Nombre del producto:</label>
  <input type="text" name="nombre">

  <label>Descripción:</label>
  <input type="text" name="descripcion">

  <button type="submit">Agregar</button>
</form>

<%- include('partials/footer') %>
