<%- include('partials/head') %>

<% if (locals.user) { %>
  <%- include('./partials/headerLogueado') %>
<% } else { %>
  <%- include('./partials/header') %>
<% } %>


        <!-- Solo deslogueado <li>
						<a href="register.html">Creá tu cuenta <i class="far fa-address-card"></i>
						</a>
					</li>
					<li>
						<a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
					</li> -->

<body>
  
  <div class="contenedorRegistro">

<form class="formGeneral" action="/producto/add" method="post">

  <label for="imagen">Imagen del producto:</label><br>
  <input type="text"  name="imagen_producto" required>

  <label for="nombre">Nombre del producto:</label><br>
  <input type="text"  name="nombre_producto" required><br><br>

  <label for="descripcion">Descripción:</label><br>
  <input type="text"  name="descripcion" required><br><br>

  <button type="submit">Agregar</button>
</form>
</div>
</body>
<%- include('partials/footer') %>

