<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
  <div class="contenedorRegistro">
  <form class="formGeneral" action="/user/register" method="post">
    <label>Usuario:</label>
    <input type="text" name="usuario" placeholder="nombre de usuario">
    
    <label>Email:</label>
    <input type="email" name="email" placeholder="email">
  
    <label>Contraseña:</label>
    <input type="password" name="password" placeholder="password">

    <label>Fecha de nacimiento:</label>
    <input type="date" name="birthDate" placeholder="nacimiento">
  
    <button type="submit">Registrarme</button>
  </form>
</div>
</body>



<%- include('partials/footer') %>
