<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head.ejs")%>


<body>

	<%- include('./partials/header.ejs')  %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			

<ul>
  <li>Chevrolet Onix</li>
  <li>Toyota Hilux"</li>
  <li>Renault Sandero RS</li>
</ul>

			<%- include("./partials/footer") %>
</body>

</html>