

<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/productos">Productos</a>
            </li>
            <li>
                <a href="/login">Log In </a>
            </li>
        </ul>
    </nav>
</header>

<%- include("partials/header") %>